body {
    display: grid;
    grid-template-areas: 
        'header header'
        'menu content';
    grid-template-columns: 15rem auto;
    
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-areas: 
            'header header'
            'menu menu'
            'content content';
        grid-template-columns: auto auto;
    }
}

.list-row {
    display: grid;
    grid-template-columns: 2fr repeat(1fr, 4);
}

.button-row {
    display: inline-block;
}

.container {
    grid-area: content;
}

.menu-bar {
    grid-area: menu;
}