<html>

<head>
    <title>Containers - autodock</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
    <div class="container">
        <div class="header">
            <p class="element-row">
                <a href="/">Repositories</a>
                <a href="/containers">Containers</a>
                <a href="/images">Images</a>
            </p>
            <h1>Containers</h1>
        </div>
        
        <div class="main-content">
            <div class="list-header">
                <div>Name</div>
                <div>Status</div>
                <div>Created</div>
                <div>Ports</div>
            </div>
            
            {% for container in content %}
            <div class="list-item">
                {% set id = container['Id'] %}
                {% set name = container['Names'] %}
                {% set status = container['State'] %}
                {% set created = container['RunningFor'] %}
                <div class="list-row">
                    <a href="/container/{{ id }}" class="list-item-name" data-label="Name">{{ name }}</a>
                    <div class="status-container" data-label="Status">
                        <div class="status status-{{ status }}">{{ status }}</div>
                    </div>
                    <div data-label="Created">{{ created }}</div>
                    <div class="ports" data-label="Ports">
                    {% for port in container['Ports'] %}
                    {% if port %}
                        <a target="_blank" rel="noopener noreferrer" href="" class="port-link">{{ port }}</a>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', path='/scripts/script.js') }}"></script>
</body>

</html>