<html>

<head>
    <title>{{ name }} - autodock</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>{{ name }}</h1>
        </div>
        
        <div class="card">
            <div class="button-row">
                <button onclick="apiCall('/api/repo/check', {'name': '{{ name }}'})">Check</button>
                <button onclick="apiCall('/api/repo/clone', {'name': '{{ name }}'})">Clone</button>
                <button onclick="apiCall('/api/repo/pull', {'name': '{{ name }}'})">Pull</button>
                <button onclick="apiCall('/api/repo/build', {'name': '{{ name }}'})">Build</button>
                <button onclick="apiCall('/api/repo/deploy', {'name': '{{ name }}'})">Deploy</button>
            </div>

            <div class="table">
                <div class="table-row">
                    <div class="table-label">Repository URL</div>
                    <div class="table-value">{{ repo['repo_url'] }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Branch</div>
                    <div class="table-value">{{ repo['branch'] }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Check interval</div>
                    <div class="table-value">{{ repo['interval'] }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Build command</div>
                    <div class="table-value">{{ repo['build_command'] }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Deploy command</div>
                    <div class="table-value">{{ repo['deploy_command'] }}</div>
                </div>
            </div>

            <a href="/edit_config/{{ name }}" type="button">Edit configuration</a>
        </div>

        {% if repo['inspect'] %}
        <div class="card">
            {% set id = repo['inspect'][0]['Id'] %}
            {% set created = repo['inspect'][0]['Created'] %}
            {% set started = repo['inspect'][0]['State']['StartedAt'] %}
            {% set status = repo['inspect'][0]['State']['Status'] %}
            <div class="button-row">
                <button onclick="apiCall('/api/container/start', {'id': '{{ id }}'})">Start</button>
                <button onclick="apiCall('/api/container/stop', {'id': '{{ id }}'})">Stop</button>
                <button onclick="apiCall('/api/container/kill', {'id': '{{ id }}'})">Kill</button>
                <button onclick="apiCall('/api/container/restart', {'id': '{{ id }}'})">Restart</button>
                <button onclick="apiCall('/api/container/pause', {'id': '{{ id }}'})">Pause</button>
                <button onclick="apiCall('/api/container/unpause', {'id': '{{ id }}'})">Unpause</button>
                <button onclick="apiCall('/api/container/rm', {'id': '{{ id }}'})">Remove</button>
            </div>
            
            <div class="table">
                <div class="table-row">
                    <div class="table-label">Id</div>
                    <div class="table-value">{{ id }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Created</div>
                    <div class="table-value">{{ created }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Started At</div>
                    <div class="table-value">{{ started }}</div>
                </div>
                <div class="table-row">
                    <div class="table-label">Status</div>
                    <div class="table-value">
                        <div class="status status-{{ status }}">{{ status }}</div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-label">Ports</div>
                    <div class="table-value">
                    {% for inner, outer in repo['inspect'][0]['NetworkSettings']['Ports'].items() %}
                        <a href="{{ HOST_ADDRESS }}:{{ outer[0]['HostPort'] }}" class="port-link">{{ outer[0]['HostPort'] }}:{{ inner }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-label">Raw</div>
                    <div class="table-value">{{ repo['inspect'] }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>

    <script src="{{ url_for('static', path='/scripts/script.js') }}"></script>
</body>

</html>