<html>

<head>
    <title>Edit {{ name }} - autodock</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
    <div class="container">
        <div class="header">
        {% if name == 'new_repo_config' %}
            <p class="element-row">
                <a href="/">Repositories</a><span>></span>
                <a>New repository</a>
            </p>
            <h1>New repository</h1>
        {% else %}
            <p class="element-row">
                <a href="/">Repositories</a><span>></span>
                <a href="/details/{{ name }}">{{ name }}</a><span>></span>
                <a>Editing configuration</a>
            </p>
            <h1>{{ name }}</h1>
        {% endif %}
        </div>
        
        <form class="card" method="post" action="/repo/save">
            <div class="element-row">
                <button class="button-primary right-align" type="submit">Save configuration</button>
            </div>
            
            <div class="table">
                <div class="table-row">
                    <div class="table-label">Name</div>
                    <input type="text" id="name" name="name" value="{{ name }}"> 
                </div>
                <div class="table-row">
                    <div class="table-label">Repository URL</div>
                    <input type="text" id="repo_url" name="repo_url" value="{{ repo['repo_url'] }}"> 
                </div>
                <div class="table-row">
                    <div class="table-label">Branch</div>
                    <input type="text" id="branch" name="branch" value="{{ repo['branch'] }}"> 
                </div>
                <div class="table-row">
                    <div class="table-label">Check interval (sec, 0 - never)</div>
                    <input type="number" id="interval" name="interval" value="{{ repo['interval'] }}"> 
                </div>
                <div class="table-row">
                    <div class="table-label">Version tag scheme</div>
                    <input type="text" id="version_tag_scheme" name="version_tag_scheme" value="{{ repo['version_tag_scheme'] }}"> 
                </div>
                <div class="table-row">
                    <div class="table-label">Build command</div>
                    <textarea id="build_command" name="build_command">{{ repo['build_command'] }}</textarea>
                </div>
                <div class="table-row">
                    <div class="table-label">Deploy command</div>
                    <textarea id="deploy_command" name="deploy_command">{{ repo['deploy_command'] }}</textarea>
                </div>
                <div class="table-row">
                    <div class="table-label">Healthcheck command</div>
                    <textarea id="healthcheck_command" name="healthcheck_command">{{ repo['healthcheck']['command'] }}</textarea>
                </div>
                <div class="table-row">
                    <div class="table-label">Port</div>
                    <textarea id="healthcheck_command" name="healthcheck_command">{{ repo['port'] }}</textarea>
                </div>
            </div>
        </form>
        
    </div>

    <script src="{{ url_for('static', path='/scripts/script.js') }}"></script>
</body>

</html>