{% extends 'base.html' %}

{% block title %}Images{% endblock %}

{% block content %}
<div class="list-card">
    <div class="list-header column-spacing-images">
        <div>Id</div>
        <div>Tag</div>
        <div>Created</div>
        <div>Size</div>
        <div></div>
    </div>
    
    {% for image in content %}
    <div class="list-item">
        {% set id = image['Id'] %}
        {% set repo = image['Repository'] %}
        {% set tag = image['Tag'] %}
        {% set created = image['CreatedAt'] %}
        {% set size = image['Size'] %}
        <div class="list-row column-spacing-images">
            <div data-label="Id">
                <a href="/image/{{ id }}" class="list-item-name">{{ id }}</a>
            </div>
            <div class="link-list" data-label="Tag">
                <a href="" class="link link-warning">{{ repo }}:{{ tag }}</a>
            </div>
            <div data-date="{{ created }}" data-label="Created"></div>
            <div data-label="Size">{{ size }}</div>
            <div class="element-row">
                <button class="button-error" onclick="apiAction('/api/image/action/rm', {'id': '{{ id }}'})">Remove</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}