<html>

<head>
    <title>Dashboard - autodock</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>autodock</h1>
            <!-- <p>Automatic conainer build and deployment</p> -->
        </div>
        
        <div class="main-content">
            <div class="list-header">
                <div>Name</div>
                <div>Status</div>
                <div>Created</div>
                <div>Ports</div>
            </div>
            
            {% for name, repo in content.items() %}
            <div class="repo">
                <div class="list-row">
                    <a href="/details/{{ name }}" class="repo-name" data-label="Name">{{ name }}</a>
                    {% if repo['inspect'] %}
                        {% set status = repo['inspect'][0]['State']['Status'] %}
                        <div class="status-container" data-label="Status">
                            <div class="status status-{{ status }}">{{ status }}</div>
                        </div>
                        <div data-date="{{ repo['inspect'][0]['Created'] }}" data-label="Created"></div>
                        <div class="ports" data-label="Ports">
                        {% for inner, outer in repo['inspect'][0]['NetworkSettings']['Ports'].items() %}
                            <a href="{{ HOST_ADDRESS }}:{{ outer[0]['HostPort'] }}" class="port-link">{{ outer[0]['HostPort'] }}:{{ inner }}</a>
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="status status-not-available" data-label="Status">not available</div>
                    {% endif %}
                </div>
                <div class="element-row">
                    <button class="button-primary" onclick="apiCall('/api/repo/check', {'name': '{{ name }}'})">Check</button>
                    <button class="button-secondary" onclick="apiCall('/api/repo/clone', {'name': '{{ name }}'})">Clone</button>
                    <button class="button-success" onclick="apiCall('/api/repo/pull', {'name': '{{ name }}'})">Pull</button>
                    <button class="button-warning" onclick="apiCall('/api/repo/build', {'name': '{{ name }}'})">Build</button>
                    <button class="button-error" onclick="apiCall('/api/repo/deploy', {'name': '{{ name }}'})">Deploy</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', path='/scripts/script.js') }}"></script>
</body>

</html>